# What is python

#Python is a high-level, general-purpose programming language known for its simplicity and readability. It was created by Guido van Rossum and first released in 1991. Python is widely used for a variety of applications, including:

🔧 Common Uses of Python
Web Development (e.g., with Django, Flask)

Data Science & Machine Learning (e.g., with pandas, NumPy, scikit-learn, TensorFlow)

Scripting & Automation (automating tasks or workflows)

Software Development (writing desktop or server applications)

Cybersecurity & Hacking

Game Development (e.g., with Pygame)

Artificial Intelligence

✅ Key Features of Python
Readable Syntax: Easy to write and understand

Interpreted Language: Runs code line-by-line without compilation

Dynamically Typed: No need to declare variable types

Extensive Libraries: Huge ecosystem of packages

Cross-Platform: Works on Windows, macOS, Linux, etc.

In [5]:
# A simple Python program
name = "Sravani"
print("Hello,", name)

Hello, Sravani

# What is a Variable in python

A variable in Python is a name that refers to a value stored in memory. Think of it like a container or label you attach to a value, so you can use or change that value later in your program.

 Why Do We Use Variables?
To store data (like numbers, text, or other types).

To reuse values later.

To make code readable and flexible.

In [12]:
x = 10
name = "Sravani"
price = 99.99

In [14]:
x

10

In [16]:
name

'Sravani'

In [18]:
price

99.99

 Rules for Naming Variables
Must start with a letter or an underscore (_)

Cannot start with a number

Can only contain letters, numbers, and underscores

Are case-sensitive (age ≠ Age)

In [20]:
#Valid
name = "John"
_age = 25
user1 = "Alice"

In [22]:
name

'John'

In [24]:
_age

25

In [26]:
user1

'Alice'

In [28]:
#Invalid code
1name = "Bob"     # Starts with number
user-name = "Tom" # Hyphens not allowed

SyntaxError: invalid decimal literal (1169397660.py, line 2)

# Examples of Using Variables

In [31]:
#1. Storing a number and using it in math
a = 5
b = 10
sum = a + b
print(sum)  # Output: 15

15

In [33]:
#2. Storing a string and printing it
greeting = "Hello"
name = "Sravani"
print(greeting + " " + name)  # Output: Hello Sravani

Hello Sravani

In [35]:
#3. Updating variable value
count = 1
count = count + 1
print(count)  # Output: 2

2

In [37]:
#💡 Real-Life Example (Salary Calculation)
name = "Sravani"
hours_worked = 40
hourly_rate = 1000
salary = hours_worked * hourly_rate

print("Employee:", name)
print("Weekly Salary:", salary)

Employee: Sravani
Weekly Salary: 40000

# ✅ Basic Examples

In [42]:
#1. Integer Variable

age = 22
print("Your age is:", age)

Your age is: 22

In [44]:
#2. Float Variable
height = 5.8
print("Your height is:", height, "feet")

Your height is: 5.8 feet

In [46]:
#3. String Variable
name = "Sravani"
print("Hello", name)

Hello Sravani

In [50]:
#4. Boolean Variable
is_logged_in = True
print("Login status:", is_logged_in)

Login status: True

In [52]:
#5. Multiple Variables in One Line
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

In [54]:
#6. Same Value to Multiple Variables
a = b = c = 100
print(a, b, c)

100 100 100

In [56]:
#7. Shopping Cart Calculation
item1_price = 200
item2_price = 350
total = item1_price + item2_price
print("Total bill:", total)

Total bill: 550

In [58]:
#8. Student Marks Example
math = 80
science = 70
average = (math + science) / 2
print("Average marks:", average)

Average marks: 75.0

In [60]:
#9. Area of a Circle
pi = 3.1416
radius = 5
area = pi * radius * radius
print("Area of circle:", area)

Area of circle: 78.54

In [62]:
#10. Concatenating Strings
first_name = "Sita"
last_name = "Rao"
full_name = first_name + " " + last_name
print("Full Name:", full_name)

Full Name: Sita Rao

In [64]:
#11. Using Variables with Input
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello", name + "! You are " + age + " years old.")

Enter your name:  sravani
Enter your age:  21

Hello sravani! You are 21 years old.

# Data Collection with Lists (Variable as a container)

In [67]:
#12. Storing Multiple Items
fruits = ["apple", "banana", "mango"]
print("Fruits list:", fruits)

Fruits list: ['apple', 'banana', 'mango']

In [69]:
#13. Accessing Individual Items
print("First fruit:", fruits[0])  # Output: apple

First fruit: apple

# 🔁 Updating Variables

In [72]:
#14. Incrementing a Value
counter = 0
counter = counter + 1
print("Counter:", counter)

Counter: 1

In [74]:
#15. Using Variables in a Formula
length = 10
width = 5
area = length * width
print("Area of rectangle:", area)

Area of rectangle: 50

# 🧠 What is a Data Type in Python?

A data type in Python tells us what kind of value a variable holds — like a number, text, list, etc.

Think of data types as different types of containers for different types of data.

# 📦 Why Data Types are Important

#Help Python understand how to store and use the value.

Allow you to perform specific operations depending on the type.

Prevent errors by restricting invalid operations.

In [79]:
#1. Integer
age = 25
print(type(age))  # Output: <class 'int'>

<class 'int'>

In [81]:
#2. Float
price = 49.99
print(type(price))  # Output: <class 'float'>

<class 'float'>

In [83]:
#3. String
name = "Sravani"
print(type(name))  # Output: <class 'str'>

<class 'str'>

In [85]:
#4. Boolean
is_online = True
print(type(is_online))  # Output: <class 'bool'>

<class 'bool'>

In [87]:
#5. List
coordinates = (10, 20)
print(type(coordinates))  # Output: <class 'tuple'>

<class 'tuple'>

In [89]:
#7. Dictionary
unique_numbers = {1, 2, 3, 3}
print(unique_numbers)  # Output: {1, 2, 3}
print(type(unique_numbers))  # <class 'set'>

{1, 2, 3}
<class 'set'>

In [93]:
#9. NoneType
x = None
print(type(x))  # Output: <class 'NoneType'>

<class 'NoneType'>

In [95]:
#How to Check the Data Type
#Use the built-in type() function:

value = 10
print(type(value))  # Output: <class 'int'>

<class 'int'>

# ✅ Built-in Data Types in Python

# 🔢 1. Numeric Types

In [99]:
a = 10        # int
b = 3.14      # float
c = 2 + 3j    # complex

In [101]:
a

10

In [103]:
b

3.14

In [105]:
c

(2+3j)

# 🔤 2. Text Type

In [108]:
name = "Sravani"

In [110]:
name

'Sravani'

# ✅ 3. Boolean Type

In [115]:
is_valid = True

In [117]:
is_valid

True

# 📦 4. Sequence Types

In [120]:
fruits = ["apple", "banana", "cherry"]  # list
colors = ("red", "blue")                # tuple
nums = range(5)                         # range

In [122]:
fruits

['apple', 'banana', 'cherry']

In [124]:
colors

('red', 'blue')

In [126]:
nums

range(0, 5)

# 5. Mapping Type

In [129]:
 person = {"name": "Ravi", "age": 25}

In [131]:
person

{'name': 'Ravi', 'age': 25}

# 🌐 6. Set Types

s = {1, 2, 3}
f = frozenset([1, 2, 3])

In [136]:
s

{1, 2, 3}

In [138]:
f

frozenset({1, 2, 3})

# ⚫ 7. None Type

In [153]:
x = None
x

# INPUTS AND OUTPUTS IN PYTHON

In Python, input means taking data from the user, and output means displaying results to the user.

#.🟩 1. print() — Output Function
The print() function is used to display text or variables on the screen.

#✅ Syntax:

print(value1, value2, ..., sep=' ', end='\n')

In [161]:
#✅ Example:
name = "Sravani"
print("Hello", name)

Hello Sravani

# 🔹 Printing Multiple Values

In [164]:
a = 10
b = 20
print("Sum is", a + b)

Sum is 30

# 🔹 Using sep and end

In [167]:
print("A", "B", "C", sep="-")   # Output: A-B-C
print("Hi", end=" ")            # No newline
print("There")                  # Output: Hi There

A-B-C
Hi There

# 🟨 2. input() — Input Function

The input() function is used to get data from the user as a string.

✅ Syntax:
variable = input("Prompt message")

# ✅ Example:

In [173]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name:  SRAVANI

Hello SRAVANI

# 🔄 Important: input() Always Returns a String!

To work with numbers, you must convert the input using int(), float(), etc.

In [178]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Sum is:", num1 + num2)

Enter first number:  22
Enter second number:  23

Sum is: 45

# 🔣 Example: Float Input

In [181]:
length = float(input("Enter length: "))
width = float(input("Enter width: "))
area = length * width
print("Area is:", area)

Enter length:  2
Enter width:  3

Area is: 6.0

# 📚 Real-Life Example: Age Calculator

In [184]:
name = input("What is your name? ")
birth_year = int(input("Enter your birth year: "))
age = 2025 - birth_year
print(name, "is", age, "years old.")

What is your name?  SRAVANI
Enter your birth year:  2004

SRAVANI is 21 years old.

# OPERATORS IN PYTHON

# ####✅ 1. Arithmetic Operators

In [188]:
#These are used for basic math operations.
a = 10
b = 3

print("Addition:", a + b)         # 13
print("Subtraction:", a - b)      # 7
print("Multiplication:", a * b)   # 30
print("Division:", a / b)         # 3.333...
print("Floor Division:", a // b)  # 3
print("Modulus:", a % b)          # 1
print("Power:", a ** b)           # 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Power: 1000

# ✅ 2. Assignment Operators

In [191]:
#Used to assign and update variable values.
x = 5
x += 3     # x = x + 3
print("x += 3:", x)    # 8

x -= 2     # x = x - 2
print("x -= 2:", x)    # 6

x *= 4     # x = x * 4
print("x *= 4:", x)    # 24

x /= 6     # x = x / 6
print("x /= 6:", x)    # 4.0

x += 3: 8
x -= 2: 6
x *= 4: 24
x /= 6: 4.0

# ✅ 3. Comparison (Relational) Operators

In [194]:
#Used to compare two values. Result is True or False.

a = 10
b = 5

print("Equal:", a == b)          # False
print("Not Equal:", a != b)      # True
print("Greater Than:", a > b)    # True
print("Less Than:", a < b)       # False
print("Greater or Equal:", a >= 10) # True
print("Less or Equal:", a <= 10)    # True

Equal: False
Not Equal: True
Greater Than: True
Less Than: False
Greater or Equal: True
Less or Equal: True

# ✅ 4. Logical Operators

In [197]:
#Used with boolean (True/False) conditions.
x = 10
y = 5

print("AND:", x > 5 and y > 3)   # True
print("OR:", x < 5 or y > 3)     # True
print("NOT:", not(x < 5))        # True

AND: True
OR: True
NOT: True

# ✅ 5. Identity Operators

In [200]:
#Used to check if two variables refer to the same object.
a = [1, 2]
b = a
c = [1, 2]

print("a is b:", a is b)       # True
print("a is c:", a is c)       # False
print("a is not c:", a is not c) # True

a is b: True
a is c: False
a is not c: True

# ✅ 6. Membership Operators

In [203]:
#Used to test if a value is in a sequence (list, string, etc.).

fruits = ['apple', 'banana', 'cherry']

print("in:", 'banana' in fruits)       # True
print("not in:", 'mango' not in fruits) # True

in: True
not in: True

# ✅ 7. Bitwise Operators

In [206]:
#Used to perform operations on binary values.
a = 5    # 0101
b = 3    # 0011

print("AND:", a & b)   # 0001 → 1
print("OR:", a | b)    # 0111 → 7
print("XOR:", a ^ b)   # 0110 → 6
print("NOT:", ~a)      # Flip → -6
print("Left Shift:", a << 1)  # 1010 → 10
print("Right Shift:", a >> 1) # 0010 → 2

AND: 1
OR: 7
XOR: 6
NOT: -6
Left Shift: 10
Right Shift: 2

# DATA STRUCTURES

A data structure is a way to store and organize data so it can be used efficiently.

Python has built-in data structures that help you store different types of data.

✅ Types of Data Structures in Python
Type	Description              Example            Syntax
List	Ordered, changeable, allows duplicates	my_list = [1, 2, 3]
Tuple	Ordered, unchangeable, allows duplicates	my_tuple = (1, 2, 3)
Set	Unordered, no duplicates	my_set = {1, 2, 3}
Dictionary	Key-value pairs, unordered (Python 3.7+ maintains order)	my_dict = {"name": "Sravani"}

# 🔸 1. List

Use square brackets []

Allows duplicate values

You can change (modify) elements

In [212]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])       # apple
fruits.append("orange")
print(fruits)          # ['apple', 'banana', 'cherry', 'orange']

apple
['apple', 'banana', 'cherry', 'orange']

# 🔸 2. Tuple

Use round brackets ()

Similar to a list, but cannot be changed

Faster than lists

python
Copy
Edit

In [215]:
colors = ("red", "green", "blue")
print(colors[1])        # green
# colors[1] = "yellow"  # ❌ Error: Tuples are immutable

green

# 🔸 3. Set

# Use curly brackets {} or set()

No duplicate values allowed

Unordered (no indexing)

In [218]:
numbers = {1, 2, 3, 2, 1}
print(numbers)          # {1, 2, 3} (duplicates removed)
numbers.add(4)
print(numbers)          # {1, 2, 3, 4}

{1, 2, 3}
{1, 2, 3, 4}

# 🔸 4. Dictionary (dict)

Stores data as key: value pairs

Keys are unique

Use curly braces {}

In [221]:
student = {
    "name": "Sravani",
    "age": 22,
    "course": "Python"
}
print(student["name"])     # Sravani
student["age"] = 23
print(student)             # {'name': 'Sravani', 'age': 23, 'course': 'Python'}

Sravani
{'name': 'Sravani', 'age': 23, 'course': 'Python'}

# Data Structure	Ordered?	Changeable?	Duplicates?	Syntax
List	               ✅ Yes	   ✅ Yes	✅ Yes	     []
Tuple	               ✅ Yes	   ❌ No	✅ Yes	     ()
Set	                   ❌ No	   ✅ Yes	❌ No        {} or set()
Dictionary	           ✅ Yes	   ✅ Yes	 Keys ❌	 {key: value}

# Conditional Statements

Conditional statements allow your program to make decisions and run code only when a certain condition is True.

# ✅ Types of Conditional Statements in Python:

Statement	Description
if	         Runs a block of code if the condition is true
else	     Runs a block of code if the if is false
elif	     Stands for "else if", checks more conditions
nested if	 Using if inside another if

# 1. if Statement

In [227]:
age = 18

if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

# ✅ Explanation: The code inside the if block runs only if the condition is True.

# 🔹 2. if-else Statement

In [231]:
age = 16

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

# ✅ Explanation: If the condition is false, the else block runs.

# 🔹 3. if-elif-else Statement

In [237]:
marks = 75

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Grade D")

Grade B

# ✅ Explanation: Python checks each condition one by one until one is True.

# 🔹 4. Nested if Statement

In [240]:
 num = 10

if num > 0:
    if num % 2 == 0:
        print("Positive even number")
    else:
        print("Positive odd number")
else:
    print("Number is not positive")

Positive even number

# 🔹 5. Short Hand if (One-Line if)

In [243]:
x = 10
if x > 5: print("x is greater than 5")

x is greater than 5

# 🔹 6. Short Hand if-else (Ternary Operator)

In [246]:
a = 10
b = 20

print("a is greater") if a > b else print("b is greater")

b is greater

# 🧪 Real-Life Example: Login

In [249]:
username = "admin"
password = "1234"

if username == "admin" and password == "1234":
    print("Login successful")
else:
    print("Invalid login")

Login successful

# Loops in python

# 🔁 What is a Loop?

A loop is used to repeat a block of code multiple times — either for a fixed number of times or until a condition is met.

# ✅ Types of Loops in Python:

Loop Type	Used For
for loop	Repeat over a sequence (list, range, etc.)
while loop	Repeat while a condition is true
nested loop	A loop inside another loop

# 🔸 1. for loop

In [255]:
#Used to iterate over a sequence like list, tuple, string, or range.

for i in range(1, 6):
    print(i)

1
2
3
4
5

# 📘 Example: loop through a list

In [258]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

# 🔸 2. while loop

In [261]:
#Repeats a block while a condition is true.
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

# 🔸 3. break and continue

#Keyword	Meaning
break	Exit the loop immediately
continue	Skip the rest of the current loop iteration

In [266]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)   # Prints 1 to 4

1
2
3
4

In [268]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)   # Prints 1, 2, 4, 5

1
2
4
5

# 🔸 4. nested loops

# 📘 Example: Print a pattern

In [272]:
for i in range(1, 4):
    for j in range(1, 4):
        print("*", end=" ")
    print()

* * *
* * *
* * *

# 🧠 range() Function

In [275]:
#range(start, stop, step) is used in for loops.
for i in range(2, 10, 2):  # start=2, end=9, step=2
    print(i)

2
4
6
8

# 🧪 Example Program: Sum of 1 to 10

In [278]:
total = 0
for i in range(1, 11):
    total += i
print("Sum:", total)  # Output: 55

Sum: 55

# FUNCTIONS IN PYTHON

A function is a block of reusable code that performs a specific task.

Instead of writing the same code again and again, we can put it in a function and call it whenever needed.

# ✅ Why Use Functions?
Avoid code repetition

Make code more organized

Easy to update and reuse

Helps with debugging and teamwork

In [285]:
def function_name(parameters):
    # code block
    return result

# 🔸 1. Defining and Calling a Function1

In [290]:
def greet():
    print("Hello, welcome to Python!")

greet()  # Call the function

Hello, welcome to Python!

# 🔸 2. Function with Parameters

In [293]:
def greet(name):
    print("Hello", name)

greet("Sravani")  # Output: Hello Sravani

Hello Sravani

# 🔸 3. Function with Return Value

In [296]:
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)  # Output: Sum: 8

Sum: 8

# 🔸 4. Function with Default Parameters

In [299]:
def greet(name="Guest"):
    print("Hello", name)

greet()           # Output: Hello Guest
greet("Sravani")  # Output: Hello Sravani

Hello Guest
Hello Sravani

# 🔸 5. Function with Multiple Return Values

In [302]:
def calculate(x, y):
    sum_ = x + y
    diff = x - y
    return sum_, diff

a, b = calculate(10, 5)
print("Sum:", a)      # 15
print("Difference:", b)  # 5

Sum: 15
Difference: 5

# 🔸 6. Lambda Function (Anonymous Function)

In [305]:
#Useful for short functions without def.
add = lambda a, b: a + b
print(add(3, 4))  # Output: 7

7

# 🧪 Real-World Example

In [308]:
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

print(is_even(4))  # True
print(is_even(7))  # False

True
False

# Math Functions

# .🧠 What Are Math Functions?
Python has a built-in math module that provides many common mathematical functions.

To use them, you must first import the module:

python
Copy
Edit

In [312]:
import math

In [314]:
import math

print("Square Root of 16:", math.sqrt(16))         # 4.0
print("2 power 3:", math.pow(2, 3))                # 8.0
print("Floor of 4.8:", math.floor(4.8))            # 4
print("Ceil of 4.2:", math.ceil(4.2))              # 5
print("Factorial of 5:", math.factorial(5))        # 120
print("Sine of 90°:", math.sin(math.radians(90)))  # 1.0

Square Root of 16: 4.0
2 power 3: 8.0
Floor of 4.8: 4
Ceil of 4.2: 5
Factorial of 5: 120
Sine of 90°: 1.0

# 💡 Tip:
Use math.radians() if you want to convert degrees to radians before using sin, cos, or tan.

math.pow() returns float, while ** (exponent) gives int or float depending on input.

In [319]:
#📝 Real-World Use Case
#Example: Area of a Circle
import math

r = 5
area = math.pi * r**2
print("Area of circle:", area)

Area of circle: 78.53981633974483

In [321]:
import math
print(math.ceil(3.2) + math.floor(3.8))

7

# ✅ Python Code: All Math Functions

In [324]:
import math

# Square root
print("Square root of 16:", math.sqrt(16))  # 4.0

# Power
print("2 to the power of 3:", math.pow(2, 3))  # 8.0

# Absolute value
print("Absolute value of -10:", math.fabs(-10))  # 10.0

# Floor and Ceil
print("Floor of 4.7:", math.floor(4.7))  # 4
print("Ceil of 4.1:", math.ceil(4.1))    # 5

# Factorial
print("Factorial of 5:", math.factorial(5))  # 120

# Pi and e
print("Value of pi:", math.pi)
print("Value of e:", math.e)

# Natural log (base e)
print("Natural log of 10:", math.log(10))  # ≈ 2.302

# Log base 10
print("Log base 10 of 1000:", math.log10(1000))  # 3.0

# Trigonometric functions
print("Sine of 90 degrees:", math.sin(math.radians(90)))  # 1.0
print("Cosine of 0 degrees:", math.cos(math.radians(0)))  # 1.0
print("Tangent of 45 degrees:", math.tan(math.radians(45)))  # ≈ 1.0

# Angle conversions
print("Convert 180° to radians:", math.radians(180))  # ≈ 3.14159
print("Convert π radians to degrees:", math.degrees(math.pi))  # 180

Square root of 16: 4.0
2 to the power of 3: 8.0
Absolute value of -10: 10.0
Floor of 4.7: 4
Ceil of 4.1: 5
Factorial of 5: 120
Value of pi: 3.141592653589793
Value of e: 2.718281828459045
Natural log of 10: 2.302585092994046
Log base 10 of 1000: 3.0
Sine of 90 degrees: 1.0
Cosine of 0 degrees: 1.0
Tangent of 45 degrees: 0.9999999999999999
Convert 180° to radians: 3.141592653589793
Convert π radians to degrees: 180.0

# Type conversion and Type casting

#Type conversion
Type conversion is the process of changing the data type of a variable or value from one type to another — like converting an int to a float, or a string to an int.

# ✅ Two Types of Type Conversion in Python:

Type	Who Does It?	Example
Implicit Conversion	Python automatically	int + float → float
Explicit Conversion	You manually convert	str("123") → int(1

# 🔹 1. Implicit Type Conversion

In [330]:
#✅ Done automatically by Python when combining different types.
a = 5       # int
b = 2.5     # float

result = a + b   # int + float
print(result)    # 7.5
print(type(result))  # <class 'float'>

7.5
<class 'float'>

In [332]:
#✔️ Python automatically converted int (5) to float (5.0) to avoid data loss.

a = 5       # int
b = 2.5     # float

result = a + b   # int + float
print(result)    # 7.5
print(type(result))  # <class 'float'>

7.5
<class 'float'>

# 🔹 2. Explicit Type Conversion (Type Casting)

#✅ You manually convert one type to another using functions:

Function	Converts To
int()	Integer
float()	Float
str()	String
bool()	Boolean

In [335]:
s = "123"
n = int(s)      # string to int
print(n + 1)    # 124

124

# 🎯 Why Use Type Conversion?
To perform calculations (e.g., convert user input string to number)

To display or format data (e.g., convert int to string)

To clean or validate data

# ✅ Type Casting Examples in Python

# 🔹 1. String to Integer

In [340]:
s = "100"
num = int(s)
print(num + 10)      # Output: 110
#✅ str → int

110

# 🔹 2. Integer to Float

In [343]:
x = 5
f = float(x)
print(f)             # Output: 5.0
#✅ int → float

5.0

# 🔹 3. Float to Integer

In [346]:
pi = 3.14159
whole = int(pi)
print(whole)         # Output: 3 (decimal part is removed)
#✅ float → int (⚠️ no rounding, just cuts off decimals)

3

# 🔹 4. Integer to String

In [351]:
age = 22
text = "Your age is " + str(age)
print(text)          # Output: Your age is 22
#✅ int → str

Your age is 22

# 🔹 5. String to Float

In [354]:
s = "4.56"
num = float(s)
print(num + 1.44)    # Output: 6.0
#✅ str → float

6.0

# 🔹 6. Boolean to Integer

In [359]:
print(int(True))     # Output: 1
print(int(False))    # Output: 0
#✅ bool → int

1
0

# 🔹 7. List to Set (removes duplicates)

In [362]:
nums = [1, 2, 2, 3]
unique_nums = set(nums)
print(unique_nums)   # Output: {1, 2, 3}
#✅ list → set

{1, 2, 3}

# 🔹 8. Integer to Boolean

In [365]:
print(bool(0))       # Output: False
print(bool(5))       # Output: True
# int → bool
#🔸 Only 0 is False; everything else is True.

False
True

# 🔹 9. Tuple to List

In [368]:
t = (1, 2, 3)
l = list(t)
print(l)             # Output: [1, 2, 3]
#✅ tuple → list

[1, 2, 3]

# Comments in Python

A comment is a line in your code that Python does not execute.

✅ It's written only for humans, not the computer.
✅ It helps explain what your code is doing.

# 💡 Why Are Comments Important?
To explain your code for yourself and others

To make code easy to read and understand

To ignore a line temporarily while testing/debugging

# ✅ Types of Comments in Python:
🔹 1. Single-line Comment
Starts with #
Python ignores everything after # on that line.1

In [373]:
# This prints a welcome message
print("Hello, World!")  # This is also a comment

Hello, World!


🗣️ Explanation: Both comments are ignored when the program runs.

# 🔹 2. Multi-line Comment (Using Triple Quotes)

In [378]:
#Python does not have a true multi-line comment, but you can use:
#''' or """ 
#(triple quotes)

These are usually used for:

Docstrings (documentation)

Multi-line explanations

In [380]:
'''
This is a multi-line comment.
You can write as many lines as you want.
Python will ignore this block.
'''
print("Python is awesome!")

Python is awesome!

# ⚠️ Note: Triple quotes create a string. Since we didn’t assign it to a variable, Python ignores it.

# 🔹 3. Docstrings (Documentation Strings)

In [388]:
#Special comments used inside functions or classes to describe what they do.
def add(a, b):
    """This function adds two numbers and returns the result."""
    return a + b

In [390]:
#💡 Used by developers and tools to generate help or documentation.

# 🧪 Real-Life Example with Comments:

In [393]:
# Program to calculate the area of a circle

radius = 5  # radius in meters
pi = 3.14159

# Formula: area = π × r²
area = pi * radius ** 2

print("Area of the circle is:", area)

Area of the circle is: 78.53975